@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap');

:root{
    --font-family: "Be Vietnam Pro", sans-serif;
    --second-family: "Outfit", sans-serif;

    --color-white: #FFF;
    --color-dark: #000;
    --color-gray: #E8E7EE;
    --color-dark-alt: #1C2436;
    --color-dark-gray: #454C5F;
    --color-white-alt: #F6F6F9;
    --color-green: #BFE03E;
    --color-green-alt: #EBFA9E;

    --transition: all .2s linear;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    font-family: var(--font-family);
    color: var(--color-dark-alt);
    min-width: 320px;
    overflow-x: hidden;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 15px;
}

.subtitle{
    text-transform: uppercase;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(13px, 1.11vw, 16px);
    line-height: 1.5;
    letter-spacing: .08em;
    color: var(--color-dark-gray);
    margin-bottom: 7px;
}

.title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(24px, 3.12vw, 45px);
    margin-bottom: 40px;
    letter-spacing: 0.02em;
}

.image{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul,
ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

hr{
    border: 0;
    margin-bottom: 32px;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
}

/* Banner */

.banner{
    background: url(/images/banner/banner_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    max-width: 100%;
}

.banner__desc{
    line-height: 1.2;
    font-size: 12px;
    color: var(--color-white);
    letter-spacing: .02em;
    padding-block: 16px;
}

/* Header */

.header{
    padding-block: 25px;
    border-bottom: 1px solid var(--color-white-alt);
    min-height: 90px;
    align-content: center;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.header__list{
    display: flex;
    column-gap: 40px;
}

.header__link{
    padding-block: 10px;
    transition: var(--transition);
}

.is__acctive{
    color: var(--color-dark);
}

.purchase__link{
    border: 1px solid var(--color-gray);
    padding: 9px 25px;
    transition: var(--transition);
}

.header__link:hover{
    color: var(--color-dark-gray);
}

.purchase__link:hover{
    background-color: var(--color-gray);
}

.purchase__link:active{
    background-color: var(--color-dark-gray);
}

/* Hero */

.hero{
    padding-block: 80px 160px;
}

.hero__content{
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.hero__subtitle{
    color: var(--color-dark-alt);
    margin-bottom: 13px;
}

.hero__title{
    font-size: clamp(32px, 4.65vw, 67px);
}

.hero__desc{
    font-size: clamp(13px, 1.25vw, 18px);
    line-height: 1.8;
    letter-spacing: .02em;
}

/* Collections */


.collections{
    max-width: 1060px;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 160px;
    padding-inline: 15px;
}

.collection__content{
    display: flex;
    column-gap: 140px;
    align-items: center;
    margin-bottom: 50px;
}

.collection__title{
    width: 432px;
    font-size: clamp(32px, 3.05vw, 44px);
    line-height: 1.3;
    margin-bottom: 0;
}

.collection__desc{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02em;
    width: 432px;
}

.collections__list{
    display: flex;
    column-gap: 40px;
    text-align: center;
    margin-bottom: 32px;
}

.collection__item{
    border: 1px solid #e8e7ee;
    width: 100%;
}

.collection__item-content{
    padding: 41px;
}

.collection__image{
    margin-bottom: 32px;
}

.collection__card-title{
    font-size: 23px;
    margin-bottom: 10px;
}

.collection__card-desc{
    font-size: clamp(13px, 1.25vw, 16px);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-dark-gray);
}

.collection__link{
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    background-color: var(--color-white-alt);
    width: 100%;
    padding-block: 16px;
    transition: var(--transition);
}

.collection__arrow{
    position: absolute;
    right: 15px;
    top: 28%;
}

/* Landing */

.landing__content{
    text-align: center;
}

.landing__block-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.landing__image{
    padding: 75px 47px;
}

@media (max-width: 1120px) {
    .landing__image{
        width: 100%;
        height: auto;
        padding-block: 0;
    }
}
@media (max-width:900px) {
    .collection__content{
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 30px;
    }

    .collection__title,
    .collection__desc{
        width: 100%;
    }

    .collections__list{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}

@media (max-width: 700px){
    .header__inner{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .header__list{
        flex-wrap: wrap;
        row-gap: 15px;
    }
}   
